
*{
  font-size: 10px;
  box-sizing: border-box;
  text-decoration: none;
}


@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserra/Montserrat/static/Montserrat-ExtraBold.ttf');
}
body{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: auto;
  width:100vw;
}
header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #040E89;
  font-size: 3em;
  text-transform: uppercase;
  font-family: Montserrat;
  color: white;
  width: 100%;
  padding:0.5em;

}